@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "primereact/resources/primereact.min.css";
@import "primereact/resources/themes/tailwind-light/theme.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.p-panel .p-panel-footer {
  padding: 0;
}

.p-panel .p-panel-content {
  background-color: #ffffff00;
}
